// ----------------------------------------------------------------------------------- parametrizace
//        background           color
@head_b:  #dfd5bb;    @head_c:  #000000;
@foot_b:  #312f38;    @foot_c:  #f4f5f7;
@form_b:  #f8f5ed;
@dary_b:  #ffffff;
@page_b:  #ffffff;
//
@width:   800px;
@foot_h:   50px;
@head_h:  100px;
//
@box_fs:  14px;
// ------------------------------------------------------------------------------------------ layout
html {
  height: 100%;
  body { 
    height: 100%; margin: 0; overflow: hidden;
    font-family: "Open Sans"; font-weight: 400; font-size: @box_fs;  
    background-color: @page_b;
    div.wrapper {
      height: 100%;
      header {
        width: 100%; height: @head_h;
        background-color: @head_b; color: @head_c;
        div.header {
          max-width: @width; height: calc(@head_h - 30px); margin:0 auto; 
          a.logo {
            top: 15px; position: absolute; 
            img { max-height: 50px; }
          }
          div.user {
            position: relative; float: right; padding: 15px; z-index: 2;
            text-indent: -7px; background-color: @head_b;
          }
        }
        div.intro {
          clear: both; border-top: 3px solid white; 
          color: @head_c; padding: 3px; font-size: @box_fs; text-align: center; text-wrap: nowrap;
        }
      }
      main {
        max-width: @width; margin:0 auto; height: calc(100% - @head_h - @foot_h); overflow: auto;
        br {
          clear:both;
        }
        button {
          font-family: "Open Sans"; font-size: @box_fs; margin-bottom: 5px;
          .fa-red { color:red }
          .fa-green { color:green; font-weight: bold; }
        }
        div.box {
          display:block; margin: 20px; padding: 20px;
          background-color: @form_b;
          div.dary {
            padding: 0 20px; width: max-content;
            background-color: @dary_b;
          }
          input, textarea, select {
            /*margin: 5px;*/ 
            max-width: 100%;
            font-family: "Open Sans"; font-size: @box_fs; 
            resize: none;
          }
          label.upper {
            float:left; margin-left: 5px; font-size: 12px;
            input, select, textarea {
              display:block; margin: 0 5px 5px -5px;
            }
          }
          label.check {
            float:left; margin-left: 5px; font-size: 12px;
            input {
              display:block; margin: 5px;
            }
          }
          select { padding: 1px; }
          label.souhlas {
            font-size: 12px;
          }
          span {
            display: block; margin: 20px 5px 0 5px; float: left;
          }
          .missing {
            outline: 2px solid red;
          }
        }
      }
      footer {
        position: absolute; bottom: 0; width: 100%; height: @foot_h;  margin: 0;
        background: @foot_b; color: @foot_c;
        div.footer {
          max-width: @width; margin:0 auto; padding: 15px;
          color: @foot_c;
        }
      }
    }
    // ----------------------------------------------------------------------------- trasování
    section.trace {
      margin-top: 10px; border-top:3px dashed red;
      background-color: @form_b;
      table { 
        font:12px Arial; color:black;
        border-collapse:collapse; margin:1px 0;
      }
      td { border:1px solid #aaa; ;padding:1px 3px; line-height:11px; }
      td.title { color:#000; background-color:#aaa; }
      td.label { color:#a33;}
      table.dbg_array { background-color:#ddeeff; font:12px Arial; }
      table.dbg_object { background-color:#ffffaa; font:12px Arial; }
    }
  }
}
