/*.xls
/Picasa
/\#
db2/@
db2/code/*.json
db2/img/stravenky-rastr-1.png
/doc
/docs
/ds.php
ds/code
ds/code/*.json
/ezer2.2
/logs
/sql
sql/*.FXP
sql/ms-lida
sql/ms-milos
sql/sql
/test.inc
/test.php
wiki/img/Answer-1.png
wiki/img/Answer-2.png
wiki/img/Answer-3.png
wiki/img/Answer-4.png
/ys.html
/ys.inc
/ys.php
ys/code
ys/code/*.json
