* text=auto !eol
/ch.inc -text
/ch.php -text
ch/$.ezer -text
ch/ch.css.css -text
ch/ch.ezer -text
ch/ch_fce.php -text
ch/code/comp2tab.php -text
ch/img/+logo.gif -text
ch/img/-logo.gif -text
ch/img/ch-logo.gif -text
ch/img/ch.png -text
/db.inc -text
db/$.ezer -text
db/code/comp2tab.php -text
db/db.akce.ema.ezer -text
db/db.akce.ezer -text
db/db.akce.lst.ezer -text
db/db.akce.oso.ezer -text
db/db.akce.tisk.ezer -text
db/db.akce.ucast.ezer -text
db/db.akce.vse.ezer -text
db/db.css.php -text
db/db_akce.php -text
db/db_fce.js -text
/dbg.html -text
/ds.inc -text
/ds.php -text
ds/$.ezer -text
ds/code/comp2tab.php -text
ds/ds.css.css -text
ds/ds.dum.ezer -text
ds/ds.ezer -text
ds/ds.tab.ezer -text
ds/ds_fce.php -text
ds/fce.js -text
ds/img/ds.png -text
/ezer2.inc -text
img/YMCA.png -text
img/husy.png -text
img/ms1.png -text
/kEzer-ys2.ppr -text
skins/ch/$logo.gif -text
skins/ch/big_text.css -text
skins/ch/body_bg.png -text
skins/ch/browse_handle_act.png -text
skins/ch/browse_handle_act_dn.png -text
skins/ch/browse_handle_act_mi.png -text
skins/ch/browse_handle_act_up.png -text
skins/ch/browse_handle_dn.png -text
skins/ch/browse_handle_mi.png -text
skins/ch/browse_handle_up.png -text
skins/ch/browse_header.png -text
skins/ch/browse_mark2.gif -text
skins/ch/browse_pgdn.png -text
skins/ch/browse_pgdn0.png -text
skins/ch/browse_pgdn_act.png -text
skins/ch/browse_pgup.png -text
skins/ch/browse_pgup0.png -text
skins/ch/browse_pgup_act.png -text
skins/ch/browse_resize.png -text
skins/ch/browse_set.png -text
skins/ch/browse_sort_hover.png -text
skins/ch/class.png -text
skins/ch/clientcide/body.gif -text
skins/ch/clientcide/body.png -text
skins/ch/clientcide/calendar.gif -text
skins/ch/clientcide/closebtn.gif -text
skins/ch/clientcide/drag_corner.gif -text
skins/ch/clientcide/full.gif -text
skins/ch/clientcide/full.png -text
skins/ch/clientcide/icon_problems_sm.gif -text
skins/ch/dbg.ico -text
skins/ch/doc_form.gif -text
skins/ch/doc_menu.gif -text
skins/ch/doc_module.gif -text
skins/ch/foot_bg.png -text
skins/ch/function.png -text
skins/ch/label_switch_hover.png -text
skins/ch/label_switch_off_hover.png -text
skins/ch/label_switch_on_hover.png -text
skins/ch/letter.png -text
skins/ch/menu_of2_hover.png -text
skins/ch/menu_of3_hover.png -text
skins/ch/menu_off_hover.png -text
skins/ch/menu_on1.png -text
skins/ch/menu_on2.png -text
skins/ch/menu_on3.png -text
skins/ch/menu_on_hover.png -text
skins/ch/method.png -text
skins/ch/select.gif -text
skins/ch/select_auto.gif -text
skins/ch/sort_a.png -text
skins/ch/sort_d.png -text
skins/ch/sort_n.png -text
skins/ch/submenu_bg.png -text
skins/ch/tree.png -text
skins/ck/$logo.gif -text
skins/ck/big_text.css -text
skins/ck/body_bg.png -text
skins/ck/browse_handle.png -text
skins/ck/browse_handle_act.png -text
skins/ck/browse_handle_act_dn.png -text
skins/ck/browse_handle_act_mi.png -text
skins/ck/browse_handle_act_up.png -text
skins/ck/browse_handle_dn.png -text
skins/ck/browse_handle_mi.png -text
skins/ck/browse_handle_up.png -text
skins/ck/browse_header.png -text
skins/ck/browse_mark2.gif -text
skins/ck/browse_mark_hover2.gif -text
skins/ck/browse_pgdn.png -text
skins/ck/browse_pgdn0.png -text
skins/ck/browse_pgdn_act.png -text
skins/ck/browse_pgup.png -text
skins/ck/browse_pgup0.png -text
skins/ck/browse_pgup_act.png -text
skins/ck/browse_resize.png -text
skins/ck/browse_row2.gif -text
skins/ck/browse_set.png -text
skins/ck/browse_sort_hover.png -text
skins/ck/class.png -text
skins/ck/clientcide/body.gif -text
skins/ck/clientcide/body.png -text
skins/ck/clientcide/calendar.gif -text
skins/ck/clientcide/closebtn.gif -text
skins/ck/clientcide/drag_corner.gif -text
skins/ck/clientcide/full.gif -text
skins/ck/clientcide/full.png -text
skins/ck/clientcide/icon_problems_sm.gif -text
skins/ck/dbg.ico -text
skins/ck/doc_form.gif -text
skins/ck/doc_menu.gif -text
skins/ck/doc_module.gif -text
skins/ck/foot_bg.png -text
skins/ck/function.png -text
skins/ck/label_switch_hover.png -text
skins/ck/label_switch_off_hover.png -text
skins/ck/label_switch_on_hover.png -text
skins/ck/letter.png -text
skins/ck/menu_bar.png -text
skins/ck/menu_of2_hover.png -text
skins/ck/menu_of3_hover.png -text
skins/ck/menu_off_hover.png -text
skins/ck/menu_on1.png -text
skins/ck/menu_on2.png -text
skins/ck/menu_on3.png -text
skins/ck/menu_on_hover.png -text
skins/ck/method.png -text
skins/ck/select.gif -text
skins/ck/select_auto.gif -text
skins/ck/sort_a.png -text
skins/ck/sort_d.png -text
skins/ck/sort_n.png -text
skins/ck/submenu_bg.png -text
skins/ck/tab_top.png -text
skins/ck/tree.png -text
skins/colors.php -text
sql/ms_mysql.PRG -text
sql/ms_mysql.bat -text
sql/mysql.bat -text
sql/pohled_osoba.sql -text
/test.inc -text
/test.php -text
wiki/dokumentace.wiki -text
wiki/todo.wiki -text
/ys.inc -text
/ys.php -text
ys/$.ezer -text
ys/code/comp2tab.php -text
ys/img/+logo.gif -text
ys/img/-logo.gif -text
ys/img/ys-logo.gif -text
ys/img/ys.png -text
ys/img/ys_local.png -text
ys/test.php -text
ys/ys.akce.ezer -text
ys/ys.akce.mail.ezer -text
ys/ys.akce.tisk.ezer -text
ys/ys.akce.vse.ezer -text
ys/ys.css.css -text
ys/ys.ds.ezer -text
ys/ys.ds.kl.ezer -text
ys/ys.ds.tab.ezer -text
ys/ys.eko.ezer -text
ys/ys.info.ezer -text
ys/ys.lide.ezer -text
ys/ys.pok.den.ezer -text
ys/ys.pok.ezer -text
ys/ys.pok.nas.ezer -text
ys/ys.syst.oso.ezer -text
ys/ys_akce.php -text
ys/ys_fce.js -text
ys/ys_fce.php -text
ys/ys_lide.php -text
ys/ys_ucet.php -text
