* text=auto !eol
/comp.css -text
/comp.php -text
/dbg.html -text
/ds.html -text
ds/$.ezer -text
ds/ds.css.css -text
ds/ds.dum.ezer -text
ds/ds.ezer -text
ds/ds_fce.php -text
ds/fce.js -text
ds/img/ds.png -text
/favicon.ico -text
/kEzer-ys2.ppr -text
/libr.php -text
libr/$.ezer -text
libr/libr.help.ezer -text
libr/libr.syst.ezer -text
libr/libr.try.ezer -text
libr/ys_fce.php -text
libr/ys_lide.php -text
libr/ys_ucet.php -text
/test.html -text
test/$.ezer -text
test/img/test.png -text
test/test.doc.ezer -text
test/test.elem.bro.ezer -text
test/test.elem.cha.ezer -text
test/test.elem.chk.ezer -text
test/test.elem.con.ezer -text
test/test.elem.dat.ezer -text
test/test.elem.err.ezer -text
test/test.elem.frm.ezer -text
test/test.elem.grp.ezer -text
test/test.elem.grp.sub.ezer -text
test/test.elem.men.ezer -text
test/test.elem.pop.ezer -text
test/test.elem.rad.ezer -text
test/test.elem.rep.ezer -text
test/test.elem.sel.ezer -text
test/test.elem.ski.ezer -text
test/test.elem.tab.ezer -text
test/test.elem.tst.ezer -text
test/test.fce.ezer -text
test/test.php -text
test/test.stx.ezer -text
test/test.ys.ezer -text
test/test.ys.ezer0.ezer -text
test/test.ys_lide.ezer -text
test/test.ys_pokladna.ezer -text
test/test.ys_ucetnictvi.ezer -text
test/test.ysp.ezer -text
test/ys.css.css -text
test/ys_fce.php -text
test/ys_lide.php -text
test/ys_pokladna.ezer -text
test/ys_ucetnictvi.ezer -text
test/ys_ucetnictvi.php -text
wiki/dokumentace.wiki -text
wiki/todo.wiki -text
ys/$.ezer -text
ys/img/-logo.gif -text
ys/img/ys-logo.gif -text
ys/img/ys.png -text
ys/test.php -text
ys/ys.css.css -text
ys/ys.info.ezer -text
ys/ys.kasa.ezer -text
ys/ys.lide.ezer -text
ys/ys.ucet.ezer -text
ys/ys_fce.php -text
ys/ys_lide.php -text
ys/ys_ucet.php -text
