/*.xls
/Picasa
/\#
db2/@
db2/code/*.json
/doc
/docs
/ds.php
ds/code
ds/code/*.json
/ezer2.2
/logs
/sql
sql/*.FXP
sql/ms-lida
sql/ms-milos
sql/sql
/test.inc
/test.php
/ys.html
/ys.inc
/ys.php
ys/code
ys/code/*.json
