/*.xls
/*.txt
/*.bak
/@
/\#
/db2/@
/db2/code/*.json
/db2/code/*.cpp
/db2/code/*.key
/dbt/@
/dbt/code/*.json
/dbt/code/*.cpp
/dbt/code/*.key
/cr2/@
/cr2/code/*.json
/cr2/code/*.cpp
/cr2/code/*.key
/doc
/docs
/fotky
/ezer2.2
/ezer3.1
/skins
/tcpdf
/nbproject
/rr
/db2/verze2.2
/ezernote.*
/ms2/code
*.bak
/ms2/doc
/dbt/dbt.r.ezer
/ezer3.2/
/test
/db2/code3.2/
/test/
/ms50/code/
/ms50/doc/
/cr2/code3.2/
/ms50/code3.2
/dbt/code3.2/
/dbt/code/
/ms2/code3.2/
/fakt.*
