/* obecné barvy pozadí */
.bily           { background-color:#ffffff !important; }

/* styly pro wait - viz Tutorial */

#wait_mask {
  display:none; top:0;
  opacity: 0.9; background-color: rgba(51, 51, 51, 0.08);
  padding:30px; position:absolute; z-index:996; width:100%; height:100%; }
#wait {
  margin:auto; width:64px; height:64px; z-index:997; background-color:transparent;
  top: 0; bottom: 0; left: 0; right: 0; position: absolute;
  background-image:url(img/spinner.gif); }

/* specifické barvy pro odlišení záznamů YS, FA, DB */

tr td.ezer_ys, li.ezer_ys, input.ezer_ys, .ezer_ys input, span.ezer_ys
                { background-color:#af8 !important; }
tr td.ezer_ys_  { background-color:#af8 !important; color:#fff !important; }
tr td.ezer_fa, li.ezer_fa, input.ezer_fa, .ezer_fa input, span.ezer_fa
                { background-color:#acf !important; }
tr td.ezer_fa_  { background-color:#acf !important; color:#fff !important; }
tr td.ezer_db, li.ezer_db, input.ezer_db, .ezer_db input, span.ezer_db
                { background-color:#aff !important; }
.nerodina,.nerodina input
                { background-color:#e8e !important; }
/* */

button.search   { padding-left:0px; }
.search         { z-index:3 !important; }

/* výběr access */

#appl {
  z-index: 99; }
#access {
  cursor: pointer; }
#access_menu {
  display:none; border: 1px solid #ccc; background: #fff;
  position: absolute; box-shadow:5px 5px 10px #567; cursor:default;
  color: black; font-size: 9pt; font-weight: normal; z-index: 99;
  width:150px; top: 40px; right: 10px; }
#access_menu span   {
  margin:0; padding: 2px 2px 2px 25px; display: block; }
#access_menu span.separator   {
  border-top:1px solid #999; }
#access_menu span:hover   {
  background-color:#b2b4bf; }
