/* EZER/YS verze 0, (c) Martin Smidek <martin@smidek.eu>, 2009 */

.dia {
  position:absolute; text-align:center; }

/* obecné barvy písma */
.cervena { color:#f00; }
.zelena  { color:#0f0; }
.modra   { color:#00f; }
.cerna   { color:#000; }
.nic     { }

/* obecné barvy pozadí */
.sedy           { background-color:#777777 !important; }
.zluty          { background-color:#ffff77 !important; }
.cerveny        { background-color:#ff7777 !important; }
.zeleny         { background-color:#77ff77 !important; }
.modry          { background-color:#7389ae !important; }
.zelenkavy      { background-color:#c0e1c2 !important; }

/* úpravy standardu */
#kuk {
  height:220px; }
.ds_form .Label, .ds_form .Check {
  font-size:8pt;  }
.PanelRight {
  width:700px; }
.Browse td {
  padding:0 2px; }
.Label {
  margin-top:2px; }
.Label h1 {
  font-size:12pt; margin:0; padding:0 }
.CMenu .CTitle {
  margin-top:7px; }

.CheckT input {
  position:absolute; top:10px; left:-3px; }
.ae_inp         { position:absolute; }
/*.inAccordion    { width:670px; }*/
/* prvky v akordeon-menu */
.zIndex1        { z-index:1; }
.info           { min-height:545px; height:100%; z-index:0; }
/* rámečky formulářů */
.ae_work        { background-color:#93b3de; -moz-border-radius:5px; z-index:0; }
.ae_parm        { border:1px solid #f5f5f5; background-color:#ffeed6; -moz-border-radius:5px; z-index:0; }
/* barvení řádků browse */
.nakursu        { background-color:#dfa66f !important; }
.fis_red        { background-color:#933; }
.kas_1          { background-color:#ff6 !important; }
.dar_1          { background-color:#fbb !important; }
.dar_2          { background-color:#ffa !important; }
.vyp_n          { background-color:#fdd !important; }
.vyp_r          { background-color:#dfd !important; }
.vyp_p          { background-color:#ddf !important; }
.pre_5          { background-color:#ffffaa !important; }
.pre_7          { background-color:#7ff6ff !important; }
.pre_9          { background-color:#77ff77 !important; }
.sedy           { background-color:#777777 !important; }
.zluty          { background-color:#ffff77 !important; }
.cerveny        { background-color:#ff7777 !important; }
.zeleny         { background-color:#77ff77 !important; }
.modry          { background-color:#7389ae !important; }
/* */
.aktivni        { background-color:#ffeed6 !important; border:1px solid #ffeed6 !important; }
.pasivni        { background-color:#f5f5f5 !important; border:1px solid #f5f5f5 !important; }
.chyba          { color:#700; font-weight: bold; }
/* grafy */
.graphs         { background-color:#fff !important; left:10px; }
.graph          { margin-bottom:20px; }
.graph_title    { background-color:#D1DDEF; padding-left:10px; }
/* tabulky */
dd              { margin-left:20px; }
table.vypis     { border-collapse:collapse; width:100%; }
table.dary      { width:200px; }
.vypis th       { border:1px solid #777; background-color:#eee; }
.vypis td       { border:1px solid #777; }
.chart          { float:right; }
.fis_kat        { font-family:Courier; font-weight:bold; }
.button_small   { width:20px; height:20px; font-size:x-small; }
/* = = = = = = = = = = = = = = = = = = = = = = statistika */
table.stat      { border-collapse:collapse; font-size:8pt; }
.stat td        { border:1px solid #777; text-align:right; background-color:#fff; }
.stat th        { border:1px solid #777; text-align:left; background-color:#dce7f4; }
.stat dt        { margin:10px 0 0 0; }
#proj table     { border-collapse:collapse; }
#proj td        { border:1px solid #aaa;font:x-small Arial;color:#777;padding:0 3px;}
#proj td.title  { color:#33a;}
#proj td.label  { color:#a33;}
.odhad          { background-color:#ffdab9 !important; }
